[Desktop Entry]
Name=Teleop by Keyboard
Comment=run gazebo simulator with mobile robots
Exec=terminator -e "bash -c 'source ~/.bashrc && source ~/colcon_ws/install/setup.bash && cd ~/git/amr/gazebo/docker && ./teleop_keyboard_3dw.sh'"
Icon=terminator
Type=Application
Categories=GNOME;GTK;Utility;TerminalEmulator;System;
StartupNotify=true
X-Ubuntu-Gettext-Domain=terminator
X-Ayatana-Desktop-Shortcuts=NewWindow;
Keywords=terminal;shell;prompt;command;commandline;
[NewWindow Shortcut Group]
Name=Open a New Window
Exec="~/git/amr/gazebo/docker/teleop_keyboard_3wd.sh"
TargetEnvironment=Unity
