[Desktop Entry]
Name=Setup(AMR - mobile robot)
Comment=run gazebo simulator with mobile robots
Exec=terminator -e "bash ~/git/amr/gazebo/docker/desktop/amr-docker-setup.sh"
Icon=terminator
Type=Application
Categories=GNOME;GTK;Utility;TerminalEmulator;System;
StartupNotify=true
X-Ubuntu-Gettext-Domain=terminator
X-Ayatana-Desktop-Shortcuts=NewWindow;
Keywords=terminal;shell;prompt;command;commandline;
[NewWindow Shortcut Group]
Name=Open a New Window
Exec="colcon build"
TargetEnvironment=Unity
